<!DOCTYPE html>
<html>
    <head>
        <title>Bye!</title>
    </head>
    <body>
        <h1>Goodbye</h1>
        <% name = "Joe" %>
        <p><%= "Goodbye #{name}! Thanks for coming!" %></p>
    </body>
</html>