<!DOCTYPE html>
<html>
    <head>
        <title>Hello!</title>
    </head>
    <body>
        <h1>Hello!</h1>
        <p>This is 'hello.erb' and it is located in the views directory. Please stick around and enjoy yourself.</p>
    </body>
</html>