<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <h1>Index.erb</h1>
        <p>This is 'index.erb' and it is located in the views directory, where it belongs.</p>
    </body>
</html>