<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h2><a href="/hello">Hello</a></h2>
        <h2><a href="/goodbye">Goodbye</a></h2>
        <h2><a href="/date">Date</a></h2>
    </body>
</html>
